<span *ngFor="let num1 of num" id="work_{{num1}}">
    <div class="div row">
        <span class="col-6">
            <input type="text" class="form-control no-border" placeholder="Company Name">
        </span>
        <span class="offset-4 col-2">
            <input type="text" class="form-control no-border" placeholder="YYYY - YYYY">
        </span>
        <span>
            <textarea class="form-control no-border" placeholder="Work Description" style="resize: none;">
            </textarea>
        </span>
    </div>
    <hr>
</span>
