<div class="page-wrapper">

  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light"><b>MyResumeMaker</b></div>
      <div class="list-group list-group-flush">
        <app-sidebar></app-sidebar>
      </div>
    </div>



    <!-- PAGE CONTAINER-->
    <div class="page-container">
      <!-- HEADER DESKTOP-->


      <!-- <button class="btn btn-primary" id="sidebarToggle" onclick="fun1()">Toggle Menu</button> -->


      <header class="header-desktop min-vw-100">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
            <div class="row">
              <h2 class="offset-3 col-md-4 text-center">
                MyResumeMaker
              </h2>
            </div>
            <div class="row">
              <div class="offset-3 col-md-4 text-center">
                Now build your resume hassle free
                <hr>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- END HEADER DESKTOP-->

      <!-- MAIN CONTENT-->
      <!-- <router-outlet></router-outlet> -->
      <app-resume></app-resume>
    </div>
    <!-- END PAGE CONTAINER-->


    <footer>
      <!-- <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul> -->
    </footer>

    <script>
      function fun1() {
        console.log("hi12");
      }

        // function toggleFunction() {
        //   let sidebarToggle = document.getElementById('#sidebarToggle');
        //   if (sidebarToggle) {
        //     document.body.classList.toggle('sb-sidenav-toggled');
        //     localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
        //   }
        // }

    </script>
  </div>