<span *ngFor="let num1 of num" id="education_{{num1}}">
    <div class="div row">
        <span class="col-6 bg-success">
            <input type="text" class="form-control no-border" placeholder="Course Name">
        </span>
        <span class="offset-4 col-2 bg-info">
            <input type="text" class="form-control no-border" placeholder="YYYY - YYYY">
        </span>
        <span class="bg-danger">
            <input type="text" class="form-control no-border" placeholder="Insitute Name">
        </span>
    </div>
    <hr>
</span>
