<div class="container-fluid">
    <div class="row mt-3">
        <div class="offset-2 col-md-6">
            <h2 class="text-center">
                My Resume
            </h2>
        </div>
    </div>
    <div class="row">
        <button class="offset-4 col-md-2 btn btn-secondary btn-sm" (click)="download()">DOWNLOAD RESUME</button>
    </div>
    <div class="row">
        <div class="offset-1 col-md-8 resume mt-3">
            <div class="card" id="resume">
                <div class="card-body">
                    <h2 class="card-title mt-2">
                        <input type="text" class="text-center form-control no-border"
                            style="font-size: 24px; font-weight: bold;" placeholder="May I know your name">
                    </h2>
                    <div>
                        <div class="d-flex flex-wrap justify-content-center">
                            <!-- <div class="col-4 bg-primary"> -->
                            <app-phone style="padding-left: 1em;"></app-phone>
                            <!-- </div> -->
                            <!-- <div class="col-4 bg-danger"> -->
                            <app-email style="padding-left: 1em;"></app-email>
                            <!-- </div> -->
                            <!-- <div class="col-4"> -->
                            <app-dob style="padding-left: 1em;"></app-dob>
                            <!-- </div> -->
                            <!-- <div class="col-4"> -->
                            <app-city style="padding-left: 1em;"></app-city>
                            <!-- </div> -->
                            <!-- <div class="col-4"> -->
                            <app-linkedin style="padding-left: 1em;"></app-linkedin>
                            <!-- </div> -->
                            <!-- <div class="col-4"> -->
                            <app-github style="padding-left: 1em;"></app-github>
                            <!-- </div> -->
                        </div>

                    </div>
                    <hr>

                    <!-- summary start -->
                    <app-summary></app-summary>
                    <!-- summary end -->

                    <!-- work start -->
                    <!-- <div class="card-body"> -->
                    <div *ngIf="work" class="componentBody">
                        <h6>
                            WORK EXPERIENCE
                        </h6>
                        <span class="text-wrap">
                            <app-work-experience></app-work-experience>
                        </span>
                        <hr>
                    </div>
                    <!-- </div> -->
                    <!-- work end -->

                    <!-- education start -->
                    <div *ngIf="education" class="componentBody">
                        <h6>
                            EDUCATION
                        </h6>
                        <span class="text-wrap">
                            <app-education></app-education>
                        </span>
                        <hr>
                    </div>
                    <!-- education end -->

                    <!-- project start -->
                    <div *ngIf="project" class="componentBody">
                        <h6>
                            PROJECTS
                        </h6>
                        <span class="text-wrap">
                            <app-project></app-project>
                        </span>
                        <hr>
                    </div>
                    <!-- project end -->

                    <!-- project start -->
                    <div *ngIf="certification" class="componentBody">
                        <h6>
                            CERTIFICATIONS
                        </h6>
                        <span class="text-wrap">
                            <app-certification></app-certification>
                        </span>
                        <hr>
                    </div>
                    <!-- project end -->

                    <!-- skill start -->
                    <app-skills></app-skills>
                    <!-- skill end -->
                </div>

            </div>
        </div>

    </div>
</div>